apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations: {}
  labels:
    role: ingestion
  name: ingest-exporter
  namespace: {{ .Values.environment }}-environment
spec:
  replicas: 15
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: ingest-exporter
    spec:
      volumes:
        - name: secret-volume
          secret:
            secretName: api-keys
            items:
              - key: exporter-auth-info
                path: dss-auth-jwt.json
      containers:
      - env:
        - name: INGEST_API
          value: http://${INGEST_CORE_SERVICE_SERVICE_HOST}:${INGEST_CORE_SERVICE_SERVICE_PORT}
        - name: RABBIT_URL
          value: amqp://${RABBIT_SERVICE_SERVICE_HOST}:${RABBIT_SERVICE_SERVICE_PORT_SERVICE}
        - name: STAGING_API
          value: https://{{ .Values.upload }}
        - name: DSS_API
          value: https://{{ .Values.dss }}
        - name: GOOGLE_APPLICATION_CREDENTIALS
          value: "/etc/secrets/dss-auth-jwt.json"
        - name: INGEST_API_KEY
          valueFrom:
            secretKeyRef:
              key: staging-api-key
              name: api-keys
        - name: EXPORTER_AUTH_INFO
          valueFrom:
            secretKeyRef:
              key: exporter-auth-info
              name: api-keys
        image: quay.io/humancellatlas/ingest-exporter:{{ .Values.image }}
        volumeMounts:
          - name: secret-volume
            mountPath: "/etc/secrets"
            readOnly: true
        imagePullPolicy: Always
        name: ingest-exporter
      dnsPolicy: Default
