apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: ingest-ingress
  name: {{ include "ingress-nginx.controller.fullname" . }}
  namespace: "{{ .Values.namespace }}"
data:
  ssl-redirect: "false"
  hsts: "true"
  server-tokens: "false"
  use-forwarded-headers: "true"
  http-snippet: |
    server {
      listen 8000 proxy_protocol;
      server_tokens off;
      return 301 https://$host$request_uri;
    }
