apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  annotations: {}
  labels:
    role: ingestion
  name: rabbit
  namespace: "{{ .Values.namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rabbit
  serviceName: rabbit-service
  template:
    metadata:
      labels:
        app: rabbit
    spec:
      containers:
      - image: rabbitmq:3-management-alpine
        name: rabbit
        ports:
          - name: http
            protocol: TCP
            containerPort: 15672
          - name: amqp
            protocol: TCP
            containerPort: 5672
        volumeMounts:
          - name: rabbitmq-persistent-storage
            mountPath: /var/lib/rabbitmq
  volumeClaimTemplates:
  - metadata:
      name: rabbitmq-persistent-storage
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: 5Gi
