apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations: {}
  labels:
    role: ingestion
  name: ingest-validator
  namespace: {{ .Values.environment }}-environment
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: ingest-validator
    spec:
      dnsPolicy: Default
      containers:
      - env:
        - name: INGEST_SCHEME
          value: "http"
        - name: INGEST_HOST
          value: $(INGEST_CORE_SERVICE_SERVICE_HOST)
        - name: INGEST_PORT
          value: $(INGEST_CORE_SERVICE_SERVICE_PORT)
        - name: RABBIT_HOST
          value: $(RABBIT_SERVICE_SERVICE_HOST)
        - name: RABBIT_PORT
          value: $(RABBIT_SERVICE_SERVICE_PORT_SERVICE)
        - name: UPLOAD_HOST
          value: https://{{ .Values.upload }}
        - name: UPLOAD_PORT
          value: "443"
        - name: OLS_HOST
          value: $(ONTOLOGY_SERVICE_SERVICE_HOST)
        - name: OLS_PORT
          value: $(ONTOLOGY_SERVICE_SERVICE_PORT)
        - name: FASTQ_VALIDATION_IMAGE
          value: {{ .Values.fastqImage }}
        - name: UPLOAD_API_KEY
          valueFrom:
            secretKeyRef:
              key: staging-api-key
              name: api-keys
        image: quay.io/humancellatlas/ingest-validator:{{ .Values.image }}
        imagePullPolicy: Always
        name: ingest-validator
