apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    app.gitlab.com/app: {{ .Values.gitlab_app }}
    app.gitlab.com/env: {{ .Values.gitlab_env }}
  labels:
    role: ingestion
  name: ingest-validator
  namespace: {{ .Values.environment }}-environment
spec:
  selector:
    matchLabels:
      app: ingest-validator
  replicas: {{ .Values.replicas }}
  template:
    metadata:
      labels:
        app: ingest-validator
      annotations:
        rollme: {{ randAlphaNum 5 | quote }}
        app.gitlab.com/app: {{ .Values.gitlab_app }}
        app.gitlab.com/env: {{ .Values.gitlab_env }}
    spec:
      dnsPolicy: Default
      containers:
      - env:
        - name: INGEST_SCHEME
          value: "http"
        - name: INGEST_HOST
          value: $(INGEST_CORE_SERVICE_SERVICE_HOST)
        - name: INGEST_PORT
          value: $(INGEST_CORE_SERVICE_SERVICE_PORT)
        - name: RABBIT_HOST
          value: $(RABBIT_SERVICE_SERVICE_HOST)
        - name: RABBIT_PORT
          value: $(RABBIT_SERVICE_SERVICE_PORT_SERVICE)
        - name: UPLOAD_SCHEME
          value: "{{ .Values.uploadScheme }}"
        - name: UPLOAD_PORT
          value: "{{ .Values.uploadPort }}"
        - name: UPLOAD_HOST
          value: {{ .Values.upload }}
        - name: OLS_HOST
          value: $(ONTOLOGY_SERVICE_SERVICE_HOST)
        - name: OLS_PORT
          value: $(ONTOLOGY_SERVICE_SERVICE_PORT)
        - name: FASTQ_VALIDATION_IMAGE
          value: {{ .Values.fastqImage }}
        - name: UPLOAD_API_KEY
          valueFrom:
            secretKeyRef:
              key: staging-api-key
              name: api-keys
        image: {{ .Values.image }}
        imagePullPolicy: Always
        name: ingest-validator
